
.weekend {
    color: red;
}

.header {
    border-bottom: 1px solid gray;
}

.year {
    margin-right: 10px;
}

td {
    min-width: 8px;
    text-align: center;
    padding: 5px;
    /* padding: 0 5px 0 5px; */
}

table {
    border-collapse: collapse;
    border: 1px solid gray;
}